<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:include="header"></div>
	<p th:utext="#{msg.admin.page.top}" />
	<ul>
		<li><a th:href="@{'/uid/serverinfo.jsp'}"><th:block th:utext="#{title.serverinfo.page}" /></a></li>
		<li><a th:href="@{'/admins/csrf'}"><th:block th:utext="#{title.csrf.page}" /></a></li>
		<li><a th:href="@{'/admins/clickjacking'}"><th:block th:utext="#{title.clickjacking.page}" /></a></li>
	</ul>
</body>
</html>