<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
	<form th:if="${mail == null}" action="/admins/clickjacking" method="post">
		<p th:text="#{msg.enter.mail}" /><br />
		<label th:text="#{label.mail}"></label><span>: </span>
			<input type="text" name="mail" size="30" maxlength="30" /><br />
			<br /> <input type="submit" th:value="#{label.submit}" /><br /><br />
		<div th:replace="messages"></div>
	</form>
	<th:block th:if="${mail != null}" >
		<p th:text="#{msg.mail.changed} + ${mail}" /><br /><br /><a href="/admins/main" th:text="#{label.goto.admin.page}"></a>
	</th:block>
</body>
</html>