<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
	<table class="table table-striped table-bordered table-hover" style="font-size: small;">
		<tr><th th:text="#{label.key}" /><th th:text="#{label.value}" /></tr>
		<tr><td th:text="#{label.code}" /><td id="appCodeName"/></tr>
		<tr><td th:text="#{label.browser}" /><td id="appName" /></tr>
		<tr><td th:text="#{label.version}" /><td id="appVersion" /></tr>
		<tr><td th:text="#{label.platform}" /><td id="platform" /></tr>
		<tr><td th:text="#{label.user.agent}" /><td id="userAgent" /></tr>
		<tr><td th:text="#{label.language}" /><td id="browserLanguage" /></tr>
	</table>
	<hr />
    <div th:replace="messages"></div>
	<script type="text/javascript">
	<!--
		document.getElementById("appCodeName").textContent=navigator.appCodeName;
		document.getElementById("appName").textContent=navigator.appName;
		document.getElementById("appVersion").textContent=navigator.appVersion;
		document.getElementById("platform").textContent=navigator.platform;
		document.getElementById("userAgent").textContent=navigator.userAgent;
		document.getElementById("browserLanguage").textContent=navigator.browserLanguage;
		if (document.all) {
			document.getElementById("browserLanguage").textContent=navigator.browserLanguage;
		} else {
			document.getElementById("browserLanguage").textContent=navigator.language;
		}
	// -->
	</script>
</body>
</html>
