<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<div th:replace="head"></div>
<body STYLE="margin-left: 20px; margin-right: 20px;">
	<div th:include="header"></div>
	<hr style="margin-top: 0px" />
	<form action="codeijc" method="post">
		<p th:text="#{description.parse.json}" />
		<label th:text="#{label.json.string}"></label>
			: <textarea name="jsonString" cols="80" rows="15" th:value="${jsonString}" ></textarea>
			<br /><br /> <input type="submit" /><br /><br />
			<p th:text="${msg}" /><br />
		<div th:if="${errmsg != null}" class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-warning-sign" th:text="${errmsg}"></span>
		</div>
		<div class="alert alert-info" role="alert">
			<span class="glyphicon glyphicon-info-sign" th:utext="#{msg.note.code.injection}"></span>
		</div>
	</form>
</body>
</html>