<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
	<table th:if="${threadsInfo != null}" class="table table-striped table-bordered table-hover" style="font-size: small;">
		<tr th:each="threadInfo: ${threadsInfo}">
			<td th:text="${threadInfo}"></td>
		</tr>
	</table>
	<div th:replace="messages"></div>
</body>
</html>