<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
	<form action="endlesswaiting" method="post">
		<p th:text="#{description.endless.waiting}" />
		<label th:text="#{label.character.count}"></label><span>: </span>
    	<input type="text" name="count" size="5" maxlength="5" /><br /><br /> 
		<input type="submit" th:value="#{label.submit}" /><br /><br />
        <span th:if="${result}" th:utext="#{label.execution.result}" ></span>
        <p th:if="${result}" th:utext="${result}" />
		<div th:replace="messages"></div>
	</form>
</body>
</html>