<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-top: 20px; margin-left: 20px; margin-right: 20px;">
	<header>
		<table style="width: 720px;">
			<tr>
				<td>
					<img src="images/easybuggy.png"  class="bounceInRight animated" width="324px" height="116px" />
				</td>
				<td><span class="glyphicon glyphicon-warning-sign"></span> 
                <span th:text="#{description.all}"></span></td>
			</tr>
		</table>
	</header>
	<hr />
    <th:block th:unless="${isOnlyVulnerabilities}">
	<h2>
		<span class="glyphicon glyphicon-knight"></span> 
        <span th:text="#{section.troubles}"></span>
	</h2>
	<p th:text="#{description.troubles}"></p>
	<ul>
		<li><p><a href="deadlock" th:text="#{function.name.dead.lock}"></a>: <span th:text="#{function.description.dead.lock}"></span></p></li>
		<li><p><a href="livelock" th:text="#{function.name.live.lock}"></a>: <span th:text="#{function.description.live.lock}"></span></p></li>
		<li><p><a href="threadstarvation" th:text="#{function.name.thread.starvation}"></a>: <span th:text="#{function.description.thread.starvation}"></span></p></li>
		<li><p><a href="threadunsafe" th:text="#{function.name.thread.unsafe}"></a>: <span th:text="#{function.description.thread.unsafe}"></span></p></li>
		<li><p><a href="deadlock2" th:text="#{function.name.dead.lock2}"></a>: <span th:text="#{function.description.dead.lock2}"></span></p></li>
		<li><p><a href="endlesswaiting" th:text="#{function.name.endless.waiting.process}"></a>: <span th:text="#{function.description.endless.waiting.process}"></span></p></li>
		<li><p><a href="infiniteloop" target="_blank" th:text="#{function.name.infinite.loop}"></a>: <span th:text="#{function.description.infinite.loop}"></span></p></li>
		<li><p><a href="redirectloop" target="_blank" th:text="#{function.name.redirect.loop}"></a>: <span th:text="#{function.description.redirect.loop}"></span></p></li>
		<li><p><a href="forwardloop" target="_blank" th:text="#{function.name.forward.loop}"></a>: <span th:text="#{function.description.forward.loop}"></span></p></li>
		<li><p><a href="jvmcrasheav" target="_blank" th:text="#{function.name.jvm.crash.eav}"></a>: <span th:text="#{function.description.jvm.crash.eav}"></span></p></li>
		<li><p><a href="memoryleak" th:text="#{function.name.memory.leak}"></a>: <span th:text="#{function.description.memory.leak}"></span></p></li>
		<li><p><a href="memoryleak2" th:text="${memoryleak2func}"></a>: <span th:text="${memoryleak2desc}"></span></p></li>
		<li><p><a href="memoryleak3" th:text="#{function.name.memory.leak3}"></a>: <span th:text="#{function.description.memory.leak3}"></span></p></li>
		<li><p><a href="netsocketleak" th:text="#{function.name.network.socket.leak}"></a>: <span th:text="#{function.description.network.socket.leak}"></span></p></li>
		<li><p><a href="dbconnectionleak " th:text="#{function.name.database.connection.leak}"></a> :<span th:text="#{function.description.database.connection.leak}"></span></p></li>
		<li><p><a href="filedescriptorleak " th:text="#{function.name.file.descriptor.leak}"></a> :<span th:text="#{function.description.file.descriptor.leak}"></span></p></li>
		<li><p><a href="threadleak" th:text="#{function.name.thread.leak}"></a>: <span th:text="#{function.description.thread.leak}"></span></p></li>
		<li><p><a href="mojibake" th:text="#{function.name.mojibake}"></a>: <span th:text="#{function.description.mojibake}"></span></p></li>
		<li><p><a href="iof" th:text="#{function.name.int.overflow}"></a>: <span th:text="#{function.description.int.overflow}"></span></p></li>
		<li><p><a href="roe" th:text="#{function.name.round.off.error}"></a>: <span th:text="#{function.description.round.off.error}"></span></p></li>
		<li><p><a href="te" th:text="#{function.name.truncation.error}"></a>: <span th:text="#{function.description.truncation.error}"></span></p></li>
		<li><p><a href="lotd" th:text="#{function.name.loss.of.trailing.digits}"></a>: <span th:text="#{function.description.loss.of.trailing.digits}"></span></p></li>
	</ul>
    </th:block>

	<h2>
		<span class="glyphicon glyphicon-knight"></span> 
        <span th:text="#{section.vulnerabilities}"></span>
	</h2>
	<p th:text="#{description.vulnerabilities}"></p>
	<ul>
		<li><p><a href="xss" th:text="#{function.name.xss}"></a>: <span th:text="#{function.description.xss}"></span></p></li>
		<li><p><a href="sqlijc" th:text="#{function.name.sql.injection}"></a>: <span th:text="#{function.description.sql.injection}"></span></p></li>
		<li><p><a href="admins/main?logintype=ldapijc" th:text="#{function.name.ldap.injection}"></a>: <span th:text="#{function.description.ldap.injection}"></span></p></li>
		<li><p><a href="codeijc" th:text="#{function.name.code.injection}"></a>: <span th:text="#{function.description.code.injection}"></span></p></li>
		<li><p><a href="ognleijc" th:text="#{function.name.os.command.injection}"></a>: <span th:text="#{function.description.os.command.injection}"></span></p></li>
		<li><p><a href="mailheaderijct" th:text="#{function.name.mail.header.injection}"></a>: <span th:text="#{function.description.mail.header.injection}"></span></p></li>
		<li><p><a href="nullbyteijct" th:text="#{function.name.null.byte.injection}"></a>: <span th:text="#{function.description.null.byte.injection}"></span></p></li>
		<li><p><a href="ursupload" th:text="#{function.name.unrestricted.size.upload}"></a>: <span th:text="#{function.description.unrestricted.size.upload}"></span></p></li>
		<li><p><a href="ureupload" th:text="#{function.name.unrestricted.ext.upload}"></a>: <span th:text="#{function.description.unrestricted.ext.upload}"></span></p></li>
		<li><p><a href="admins/main?logintype=openredirect&amp;goto=/uid/serverinfo.jsp" th:text="#{function.name.open.redirect}"></a>: <span th:text="#{function.description.open.redirect}"></span></p></li>
		<li><p><a href="admins/main?logintype=bruteforce" th:text="#{function.name.brute.force}"></a>: <span th:text="#{function.description.brute.force}"></span></p></li>
		<li><p><a th:href="@{'admins/main?logintype=sessionfixation'}" th:text="#{function.name.session.fixation}"></a>: <span th:text="#{function.description.session.fixation}"></span></p></li>
		<li><p><a href="admins/main?logintype=verbosemsg" th:text="#{function.name.verbose.error.message}"></a>: <span th:text="#{function.description.verbose.error.message}"></span></p></li>
		<li><p><a href="/dfi/includable.jsp?template=style_bootstrap.html" th:text="#{function.name.dangerous.file.inclusion}"></a>: <span th:text="#{function.description.dangerous.file.inclusion}"></span></p></li>
		<li><p><a href="/dt/includable.jsp?template=basic" th:text="#{function.name.path.traversal}"></a>: <span th:text="#{function.description.path.traversal}"></span></p></li>
		<li><p><a href="/uid/clientinfo.jsp" th:text="#{function.name.unintended.file.disclosure}"></a>: <span th:text="#{function.description.unintended.file.disclosure}"></span></p></li>
		<li><p><a href="/admins/csrf" th:text="#{function.name.csrf}"></a>: <span th:text="#{function.description.csrf}"></span></p></li>
		<li><p><a href="/admins/clickjacking" th:text="#{function.name.clickjacking}"></a>: <span th:text="#{function.description.clickjacking}"></span></p></li>
		<li><p><a href="xee" th:text="#{function.name.xee}"></a>: <span th:text="#{function.description.xee}"></span></p></li>
		<li><p><a href="xxe" th:text="#{function.name.xxe}"></a>: <span th:text="#{function.description.xxe}"></span></p></li>
		<li><p><a href="vulnerabileoidcrp" th:text="#{function.name.vulnerabileoidcrp}"></a>: <span th:text="#{function.description.vulnerabileoidcrp}"></span></p></li>
	</ul>

    <th:block th:unless="${isOnlyVulnerabilities}">
	<h2>
		<span class="glyphicon glyphicon-knight"></span> 
        <span th:text="#{section.performance.issue}"></span>
	</h2>
	<p th:text="#{description.performance.issue}"></p>
	<ul>
		<li><p><a href="slowre" th:text="#{function.name.slow.regular.expression}"></a>: <span th:text="#{function.description.slow.regular.expression}"></span></p></li>
		<li><p><a href="strplusopr" th:text="#{function.name.slow.string.plus.operation}"></a>: <span th:text="#{function.description.slow.string.plus.operation}"></span></p></li>
		<li><p><a href="createobjects" th:text="#{function.name.slow.unnecessary.object.creation}"></a>: <span th:text="#{function.description.slow.unnecessary.object.creation}"></span></p></li>
	</ul>

	<h2>
		<span class="glyphicon glyphicon-knight"></span> 
        <span th:text="#{section.errors}"></span>
	</h2>
	<p th:text="#{description.errors}"></p>
	<ul>
		<li><p><a href="asserr" target="_blank">AssertionError</a>: <span th:text="#{function.description.throwable(${'AssertionError'})}"></span></p></li>
		<li><p><a href="eie" target="_blank">ExceptionInInitializerError / NoClassDefFoundError</a>: <span th:text="#{function.description.ei.error}"></span></p></li>
		<li><p><a href="fce" target="_blank">FactoryConfigurationError</a>: <span th:text="#{function.description.throwable(${'FactoryConfigurationError'})}"></span></p></li>
		<li><p><a href="gsfe" target="_blank">GenericSignatureFormatError</a>: <span th:text="#{function.description.throwable(${'GenericSignatureFormatError'})}"></span></p></li>
		<li><p><a href="oome" target="_blank">OutOfMemoryError (Java heap space)</a>: <span th:text="#{function.description.throwable(${'OutOfMemoryError'})}"></span></p></li>
		<li><p><a href="oome2" target="_blank">OutOfMemoryError (Requested array size exceeds VM limit)</a>: <span th:text="#{function.description.throwable(${'OutOfMemoryError'})}"></span></p></li>
		<li><p><a href="oome3" target="_blank">OutOfMemoryError (unable to create new native thread)</a>: <span th:text="#{function.description.throwable(${'OutOfMemoryError'})}"></span></p></li>
		<li><p><a href="oome4" target="_blank">OutOfMemoryError (GC overhead limit exceeded)</a>: <span th:text="#{function.description.throwable(${'OutOfMemoryError'})}"></span></p></li>
		<li><p><a href="oome5" target="_blank">OutOfMemoryError (<span th:text="${permname}"></span>)</a>: <span th:text="#{function.description.throwable(${'OutOfMemoryError'})}"></span></p></li>
		<li><p><a href="oome6" target="_blank">OutOfMemoryError (Direct buffer memory)</a>: <span th:text="#{function.description.throwable(${'OutOfMemoryError'})}"></span></p></li>
		<li><p><a href="sofe" target="_blank">StackOverflowError</a>: <span th:text="#{function.description.throwable(${'StackOverflowError'})}"></span></p></li>
		<li><p><a href="tfce" target="_blank">TransformerFactoryConfigurationError</a>: <span th:text="#{function.description.throwable(${'TransformerFactoryConfigurationError'})}"></span></p></li>
		<li><p><a href="jnicall" target="_blank">UnsatisfiedLinkError</a>: <span th:text="#{function.description.throwable(${'UnsatisfiedLinkError'})}"></span></p></li>
		<li><p><a href="ze" target="_blank">ZipError</a>: <span th:text="#{function.description.throwable(${'ZipError'})}"></span></p></li>
	</ul>

	<h2>
		<span class="glyphicon glyphicon-knight"></span> 
        <span th:text="#{section.exceptions}"></span>
	</h2>
	<p th:text="#{description.section.exceptions}"></p>
	<ul>
		<li><p><a href="ae" target="_blank">ArithmeticException </a>: <span th:text="#{function.description.throwable(${'ArithmeticException'})}"></span></p></li>
		<li><p><a href="aioobe" target="_blank">ArrayIndexOutOfBoundsException </a>: <span th:text="#{function.description.throwable(${'ArrayIndexOutOfBoundsException'})}"></span></p></li>
		<li><p><a href="ase" target="_blank">ArrayStoreException </a>: <span th:text="#{function.description.throwable(${'ArrayStoreException'})}"></span></p></li>
		<li><p><a href="boe" target="_blank">BufferOverflowException </a>: <span th:text="#{function.description.throwable(${'BufferOverflowException'})}"></span></p></li>
		<li><p><a href="bue" target="_blank">BufferUnderflowException </a>: <span th:text="#{function.description.throwable(${'BufferUnderflowException'})}"></span></p></li>
		<li><p><a href="cre" target="_blank">CannotRedoException </a>: <span th:text="#{function.description.throwable(${'CannotRedoException'})}"></span></p></li>
		<li><p><a href="cue" target="_blank">CannotUndoException </a>: <span th:text="#{function.description.throwable(${'CannotUndoException'})}"></span></p></li>
		<li><p><a href="cce" target="_blank">ClassCastException </a>: <span th:text="#{function.description.throwable(${'ClassCastException'})}"></span></p></li>
		<li><p><a href="cme" target="_blank">ConcurrentModificationException </a>: <span th:text="#{function.description.throwable(${'ConcurrentModificationException'})}"></span></p></li>
		<li><p><a href="ese" target="_blank">EmptyStackException </a>: <span th:text="#{function.description.throwable(${'EmptyStackException'})}"></span></p></li>
		<li><p><a href="fsaee" target="_blank">FileSystemAlreadyExistsException </a>: <span th:text="#{function.description.throwable(${'FileSystemAlreadyExistsException'})}"></span></p></li>
		<li><p><a href="fsnfe" target="_blank">FileSystemNotFoundException </a>: <span th:text="#{function.description.throwable(${'FileSystemNotFoundException'})}"></span></p></li>
		<li><p><a href="iae" target="_blank">IllegalArgumentException </a>: <span th:text="#{function.description.throwable(${'IllegalArgumentException'})}"></span></p></li>
		<li><p><a href="imse" target="_blank">IllegalMonitorStateException </a>: <span th:text="#{function.description.throwable(${'IllegalMonitorStateException'})}"></span></p></li>
		<li><p><a href="ipse" target="_blank">IllegalPathStateException </a>: <span th:text="#{function.description.throwable(${'IllegalPathStateException'})}"></span></p></li>
		<li><p><a href="iase" target="_blank">IllegalStateException </a>: <span th:text="#{function.description.throwable(${'IllegalStateException'})}"></span></p></li>
		<li><p><a href="itse" target="_blank">IllegalThreadStateException </a>: <span th:text="#{function.description.throwable(${'IllegalThreadStateException'})}"></span></p></li>
		<li><p><a href="imoe" target="_blank">ImagingOpException </a>: <span th:text="#{function.description.throwable(${'ImagingOpException'})}"></span></p></li>
		<li><p><a href="ioobe" target="_blank">IndexOutOfBoundsException </a>: <span th:text="#{function.description.throwable(${'IndexOutOfBoundsException'})}"></span></p></li>
		<li><p><a href="ime" target="_blank">InputMismatchException </a>: <span th:text="#{function.description.throwable(${'InputMismatchException'})}"></span></p></li>
		<li><p><a href="mpte" target="_blank">MalformedParameterizedTypeException </a>: <span th:text="#{function.description.throwable(${'MalformedParameterizedTypeException'})}"></span></p></li>
		<li><p><a href="mre" target="_blank">MissingResourceException </a>: <span th:text="#{function.description.throwable(${'MissingResourceException'})}"></span></p></li>
		<li><p><a href="nase" target="_blank">NegativeArraySizeException </a>: <span th:text="#{function.description.throwable(${'NegativeArraySizeException'})}"></span></p></li>
		<li><p><a href="nsee" target="_blank">NoSuchElementException </a>: <span th:text="#{function.description.throwable(${'NoSuchElementException'})}"></span></p></li>
		<li><p><a href="npe" target="_blank">NullPointerException </a>: <span th:text="#{function.description.throwable(${'NullPointerException'})}"></span></p></li>
		<li><p><a href="nfe" target="_blank">NumberFormatException </a>: <span th:text="#{function.description.throwable(${'NumberFormatException'})}"></span></p></li>
		<li><p><a href="se" target="_blank">SecurityException </a>: <span th:text="#{function.description.throwable(${'SecurityException'})}"></span></p></li>
		<li><p><a href="uce" target="_blank">UnsupportedCharsetException </a>: <span th:text="#{function.description.throwable(${'UnsupportedCharsetException'})}"></span></p></li>
		<li><p><a href="uoe" target="_blank">UnsupportedOperationException </a>: <span th:text="#{function.description.throwable(${'UnsupportedOperationException'})}"></span></p></li>
	</ul>
    </th:block>

	<hr />
	<footer>
		<img src="images/easybuggyL.png" />Copyright &copy; 2016-17 T246 OSS Lab, all rights reserved.<br/><br/>
	</footer>
</body>
</html>
