<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
		<form action="mailheaderijct" method="post"
			enctype="multipart/form-data">
			<p th:text="#{description.send.mail}" />
			<table class="table table-bordered" style="font-size: small;">
				<tr>
					<td th:text="#{label.your.name} + ': '"></td>
					<td><input type="text" name="name" size="50" /></td>
				</tr>
				<tr>
					<td th:text="#{label.your.mail} + ': '"></td>
					<td><input type="text" name="mail" size="50" /></td>
				</tr>
				<tr>
					<td th:text="#{label.subject} + ': '"></td>
					<td><input type="text" name="subject" size="50" /></td>
				</tr>
				<tr>
					<td th:text="#{label.content} + ': '"></td>
					<td><textarea rows="10" cols="50" name="content"></textarea></td>
				</tr>
				<tr>
					<td th:text="#{label.attach.file} + ': '"></td>
					<td><input type="file" name="file" size="50" /></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" th:value="#{label.submit}" /></td>
				</tr>
			</table>
		</form>
    <div th:replace="messages"></div>
</body>
</html>