<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
	<th:block th:each="memoryPoolMXBean : ${memoryPoolMXBeans}">
		<p th:utext="${memoryPoolMXBean.name}" />
		<table class="table table-striped table-bordered table-hover" style="font-size: small;">
			<tr>
				<th />
				<th width="18%" th:text="#{label.memory.init}" />
				<th width="18%" th:text="#{label.memory.used}" />
				<th width="18%" th:text="#{label.memory.committed}" />
				<th width="18%" th:text="#{label.memory.max}" />
			</tr>
			<tr th:if="${memoryPoolMXBean.usage}" >
				<td th:text="#{label.memory.usage}" />
				<td th:text="${memoryPoolMXBean.usage.init}" />
				<td th:text="${memoryPoolMXBean.usage.used}" />
				<td th:text="${memoryPoolMXBean.usage.committed}" />
				<td th:if="${memoryPoolMXBean.usage.max != -1}" th:text="${memoryPoolMXBean.usage.max}" />
				<td th:if="${memoryPoolMXBean.usage.max == -1}" />
			</tr>
			<tr th:if="${memoryPoolMXBean.peakUsage}" >
				<td th:text="#{label.memory.peak.usage}" />
				<td th:text="${memoryPoolMXBean.peakUsage.init}" />
				<td th:text="${memoryPoolMXBean.peakUsage.used}" />
				<td th:text="${memoryPoolMXBean.peakUsage.committed}" />
				<td th:if="${memoryPoolMXBean.peakUsage.max != -1}" th:text="${memoryPoolMXBean.peakUsage.max}" />
				<td th:if="${memoryPoolMXBean.peakUsage.max == -1}" />
			</tr>
			<tr th:if="${memoryPoolMXBean.collectionUsage}" >
				<td th:text="#{label.memory.collection.usage}" />
				<td th:text="${memoryPoolMXBean.collectionUsage.init}" />
				<td th:text="${memoryPoolMXBean.collectionUsage.used}" />
				<td th:text="${memoryPoolMXBean.collectionUsage.committed}" />
				<td th:if="${memoryPoolMXBean.collectionUsage.max != -1}" th:text="${memoryPoolMXBean.collectionUsage.max}" />
				<td th:if="${memoryPoolMXBean.collectionUsage.max == -1}" />
			</tr>
		</table>
	</th:block>
	<div th:replace="messages"></div>
</body>
</html>