<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
	<table class="table table-striped table-bordered table-hover"
		style="font-size: small;">
		<tr>
			<td th:text="#{label.timezone.id}" />
			<td th:text="${timeZone.iD}" />
		</tr>
		<tr>
			<td th:text="#{label.timezone.name}" />
			<td th:text="${timeZone.displayName}" />
		</tr>
		<tr>
			<td th:text="#{label.timezone.offset}" />
			<td th:text="${timeZone.rawOffset}" />
		</tr>
	</table>
	<div th:replace="messages"></div>
</body>
</html>