<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
	<form action="roe" method="post">
		<p th:text="#{msg.enter.positive.number}" />
		<input type="text" name="number" size="1" maxlength="1" th:value="${number}" />
		<span> - 0.9 = </span><span th:text="${result}"></span><br /><br />
		<input type="submit" th:value="#{label.calculate}" /><br /><br />
		<div th:replace="messages"></div>
	</form>
</body>
</html>