<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<div th:include="head"></div>
<body STYLE="margin-left: 20px; margin-right: 20px;">
	<div th:include="header"></div>
	<hr style="margin-top: 0px" />
	<form action="slowre" method="post">
		<p th:utext="#{description.test.regular.expression}" /><br />
		<img src="images/regular-expression.png" /><br />
		<label th:text="#{label.string}"></label>
			: <input type="text" name="word" size="50" maxlength="50" /><br />
			<br /> <input type="submit" /><br /><br />
			<p th:utext="${msg}" /><br />
		<div class="alert alert-info" role="alert">
			<span class="glyphicon glyphicon-info-sign" th:utext="#{msg.note.slow.regular.expression}"></span>
		</div>
	</form>
</body>
</html>