<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
	<form action="sqlijc" method="post">
		<p th:text="#{msg.enter.name.and.passwd}" /><br />
		<label th:text="#{label.name}"></label> : <input type="text" name="name" size="20" maxlength="20" />
		<label th:text="#{label.password}"></label> : <input type="password" name="password" size="20" maxlength="20" autocomplete="off" />
		<br /><br /><input type="submit" th:value="#{label.submit}" /><br /><br />
		<table th:if="${userList != null}" class="table table-striped table-bordered table-hover" style="font-size: small;">
			<tr>
				<th th:text="#{label.name}"></th>
				<th th:text="#{label.secret}"></th>
			</tr>
			<tr th:each="user : ${userList}">
				<td th:text="${user.name}"></td>
				<td th:text="${user.secret}"></td>
			</tr>
		</table>
		<div th:replace="messages"></div>
	</form>
</body>
</html>