<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
	<form action="strplusopr" method="post">
		<p th:utext="#{description.random.string.generator}" />
		<label th:text="#{label.character.count}"></label><span>: </span>
		<input type="text" name="length" size="6" maxlength="6" th:value="${length}" />
		<p th:utext="${html}" /><br />
		<div th:replace="messages"></div>
	</form>
</body>
</html>