<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
	<form th:if="${upladFilePath == null}" action="ursupload" method="post" enctype="multipart/form-data">
		<p th:text="#{msg.reverse.color}" />
		<input type="file" name="file" size="60" /><br />
		<p th:text="#{msg.select.upload.file}" />  
		<input type="submit" th:value="#{label.upload}" /><br /><br />
		<div th:replace="messages"></div>
	</form>
	<th:block th:if="${upladFilePath != null}">
		<img th:src="${upladFilePath}" /><br /><br />
		<div th:replace="messages"></div>
		<input type="button" onClick='history.back();'  th:value="#{label.history.back}" />
	</th:block>
</body>
</html>