<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
	<th:block th:if="${userInfo != null}">
		<table class="table table-striped table-bordered table-hover" style="font-size: small;">
			<tr>
				<th th:text="#{label.attribute.name}"></th>
				<th th:text="#{label.attribute.value}"></th>
			</tr>
			<tr th:each="mapEntry : ${userInfo}">
				<td th:text="${mapEntry.key}"></td>
				<td th:text="${mapEntry.value}"></td>
			</tr>
		</table>
	</th:block>
	<th:block th:if="${userInfo == null}">
		<a href="/start" th:text="${loginMessage}"></a>
		<br /><br />
		<div th:replace="messages"></div>
	</th:block>
</body>
</html>