<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<meta name="referrer" content="unsafe-url"></meta>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
	<th:block th:if="${userInfo != null}">
		<p th:text="#{msg.available.functions}" />
		<ul>
			<li><a href="vulnerabileoidcrp" th:text="#{label.forum}"></a></li>
			<th:block th:if="${manageAccountPageUrl != null}">
				<li><a th:href="${manageAccountPageUrl}" th:text="#{label.edit.profile}" target="_blank"></a></li>
			</th:block>
		</ul>
	</th:block>
	<th:block th:if="${userInfo == null}">
		<th:block th:if="${isSettingsReady}">
			<a href="/start" th:text="${loginMessage}"></a>
			<br />
			<br />
		</th:block>
		<div th:replace="messages"></div>
	</th:block>
</body>
</html>
