<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}"
	th:lang="${lang}">
<div th:replace="head"></div>
<body STYLE="margin-left: 20px; margin-right: 20px;">
	<div th:include="header"></div>
	<th:block th:if="${resultList == null}" >
	<form action="xee" method="post" enctype="multipart/form-data">
		<p th:text="#{msg.add.users.by.xml}" />
		<pre id="code" class="prettyprint lang-xml" th:text="${sample_users_xml}"></pre>
		<input type="file" name="file" size="60" /><br />
		<p th:text="#{msg.select.upload.file}" />  
		<input type="submit" th:value="#{label.upload}" />
		<p th:utext="${msg}" /><br />
		<div class="alert alert-info" role="alert">
			<span class="glyphicon glyphicon-info-sign" th:utext="#{msg.note.xee}"></span>
		</div>
		<pre id="code" class="prettyprint lang-xml" th:text="${xee_xml}"></pre>
	</form>
	</th:block>
	<th:block th:if="${resultList != null}">
		<p th:text="${msg}" />
		<div th:if="${errmsg != null}" class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-warning-sign" th:text="${errmsg}"></span>
		</div>
		<table class="table table-striped table-bordered table-hover" style="font-size: small;">
			<tr>
				<th th:text="#{label.user.id}"></th>
				<th th:text="#{label.name}"></th>
				<th th:text="#{label.password}"></th>
				<th th:text="#{label.phone}"></th>
				<th th:text="#{label.mail}"></th>
			</tr>
			<tr th:each="result : ${resultList}">
				<th:block th:if="${result instanceof T(org.t246osslab.easybuggy4sb.core.model.User)}">
					<td th:text="${result.userId}" ></td>
					<td th:text="${result.password}" ></td>
					<td th:text="${result.name}" ></td>
					<td th:text="${result.phone}" ></td>
					<td th:text="${result.mail}" ></td>
				</th:block>
				<th:block th:if="${result instanceof T(java.lang.String)}">
						<td th:text="${#strings.arraySplit(result, ' :: ')[0]}" colspan="1"></td>
						<td th:text="${#strings.arraySplit(result, ' :: ')[1]}" colspan="4"></td>
				</th:block>
			</tr>
		</table>
		<input type="button" onClick='history.back();'  th:value="#{label.history.back}" />
	</th:block>
</body>
</html>