<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<div th:replace="head"></div>
<body style="margin-left: 20px; margin-right: 20px;">
	<div th:replace="header"></div>
	<form th:if="${resultList == null}" action="xxe" method="post" enctype="multipart/form-data">
		<p th:text="#{msg.update.users.by.xml}" />
		<pre id="code" class="prettyprint lang-xml" th:text="${sample_users_xml}"></pre>
		<input type="file" name="file" size="60" /><br />
		<p th:text="#{msg.select.upload.file}" />
		<input type="submit" th:value="#{label.upload}" /><br /><br />
        <div th:if="${msg != null}">
            <th:block th:text="${msg}" ></th:block><br /><br />
        </div>
        <div th:if="${errmsg != null}" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-warning-sign"></span> 
            <th:block th:text="${errmsg}"></th:block>
        </div>
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign"></span> 
            <th:block th:utext="#{msg.note.xxe.step1}"></th:block>
        </div>
        <pre id="code" class="prettyprint lang-xml" th:text="${xxe_dtd}"></pre><br />
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign"></span> 
            <th:block th:utext="#{msg.note.xxe.step2}"></th:block>
        </div>
		<pre id="code" class="prettyprint lang-xml" th:text="${xxe_xml}"></pre>
	</form>
	<th:block th:if="${resultList != null}">
		<table class="table table-striped table-bordered table-hover" style="font-size: small;">
			<tr>
				<th th:text="#{label.user.id}"></th>
				<th th:text="#{label.name}"></th>
				<th th:text="#{label.password}"></th>
				<th th:text="#{label.phone}"></th>
				<th th:text="#{label.mail}"></th>
			</tr>
			<tr th:each="result : ${resultList}">
				<th:block
					th:if="${result instanceof T(org.t246osslab.easybuggy4sb.core.model.User)}">
					<td th:text="${result.userId}"></td>
					<td th:text="${result.password}"></td>
					<td th:text="${result.name}"></td>
					<td th:text="${result.phone}"></td>
					<td th:text="${result.mail}"></td>
				</th:block>
				<th:block th:if="${result instanceof T(java.lang.String)}">
					<td th:text="${#strings.arraySplit(result, ' :: ')[0]}" colspan="1"></td>
					<td th:text="${#strings.arraySplit(result, ' :: ')[1]}" colspan="4"></td>
				</th:block>
			</tr>
		</table>
		<input type="button" onClick='history.back();' th:value="#{label.history.back}" /><br /><br />
        <div th:replace="messages"></div>
	</th:block>
</body>
</html>